### 모듈 가져오기

In [1]:
import xlwings as xw
import pandas as pd

### 11번가 온라인 세일 데이터 가져오기

##### 엑셀 파일 가져오기

In [2]:
wb = xw.Book('onlinesale/11번가.xlsx')
ws = wb.sheets['data']
df1 = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df1

##### 시트 가져오기

##### 판다스 데이터프레임으로 변환

        제품명        가격   수량         합계
0   게이밍 마우스   40000.0  3.0   120000.0
1    마우스 패드   20000.0  2.0    40000.0
2   기계식 키보드  120000.0  1.0   120000.0
3   게이밍 마우스   40000.0  5.0   200000.0
4  32인치 모니터  350000.0  5.0  1750000.0
5    마우스 패드   20000.0  1.0    20000.0
6   게이밍 마우스   40000.0  1.0    40000.0
7  32인치 모니터  350000.0  3.0  1050000.0
8   게이밍 마우스   40000.0  1.0    40000.0
9   게이밍 마우스   40000.0  4.0   160000.0

In [ ]:
wb = xw.Book('onlinesale/11번가.xlsx')
ws = wb.sheets['data']
df1 = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df1

In [8]:
wb = xw.Book('onlinesale/쿠팡.xlsx')
ws = wb.sheets['data']
df2 = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
df2

### 판다스 데이터 프레임 합치기

In [13]:
df = pd.concat([df1, df2], ignore_index=True)

In [14]:
df

         제품명        가격   수량         합계
0    게이밍 마우스   40000.0  3.0   120000.0
1     마우스 패드   20000.0  2.0    40000.0
2    기계식 키보드  120000.0  1.0   120000.0
3    게이밍 마우스   40000.0  5.0   200000.0
4   32인치 모니터  350000.0  5.0  1750000.0
5     마우스 패드   20000.0  1.0    20000.0
6    게이밍 마우스   40000.0  1.0    40000.0
7   32인치 모니터  350000.0  3.0  1050000.0
8    게이밍 마우스   40000.0  1.0    40000.0
9    게이밍 마우스   40000.0  4.0   160000.0
10   기계식 키보드  120000.0  2.0   240000.0
11   게이밍 마우스   40000.0  4.0   160000.0
12   게이밍 마우스   40000.0  4.0   160000.0
13   기계식 키보드  120000.0  1.0   120000.0
14   기계식 키보드  120000.0  1.0   120000.0

### 데이터 프레임을 엑셀 파일로 변환

### 온라인 세일 데이터 모두 합친 후 엑셀 파일로 변환

##### 필요한 모듈 가져오기

In [2]:
import os

##### 파일 리스트 가져오기

In [3]:
base_folder='onlinesale'

In [4]:
base_folder='onlinesale'
files = os.listdir(base_folder)

In [5]:
files

['11번가.xlsx', '스마트스토어.xlsx', '쿠팡.xlsx']

##### 데이터를 통합할 빈 데이터프레임 생성

In [6]:
gathering_df = pd.DataFrame()

##### 각 파일을 순회하면서 데이터를 데이터프레임으로 변환 후 통합

In [11]:
for file in files:
    path = os.path.join(base_folder, file)
    wb = xw.Book(path)
    ws = wb.sheets['data']
    df = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
    gatherting_df = pd.concat([gathering_df, df], ignore_index=True)
    
gathering_df.to_excel(f'{base_folder}\\total.xlsx', sheet_name='data', index=False)

In [12]:
gathering_df.to_excel(f'{base_folder}\\total.xlsx', sheet_name='data', index=False)

##### 통합한 데이터프레임을 엑셀 파일로 변환

##### 엑셀 파일 닫기

In [16]:
xw.apps.active.quit()

AttributeError: 'NoneType' object has no attribute 'quit'

In [15]:
wb = xw.Book('total.xlsx')