# Linear Exercise

뉴욕에 위치한 한 이커머스 회사가 있습니다. 이 회사는 온라인에서 옷을 판매하면서 오프라인 스토어에서(in-store) 스타일링이나 옷에 관한 조언을 하는 세션을 열기도 합니다.  
고객들은 스토어에 방문해서 스타일리스트와의 세션이나 미팅을 갖게 되고 집으로 돌아가서 모바일앱 또는 웹사이트에서 원하는 옷을 주문하는 구조입니다.  

이 회사는 모바일앱 또는 웹사이트에 집중해야 할지를 데이터를 기반으로 결정하려고 합니다.

아래 절차를 따라 커스터머 데이터를 분석하세요.

## Imports
**pandas, numpy, matplotlib, sklearn 등 필요할 때마다 라이브러리 추가**

In [1]:
# 필요 모듈 import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

c:\Users\user\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Get the Data

회사에서 제공한 CSV 파일에는 이메일, 주소, 아바타 색깔(Avatar) 등의 고객정보와 함께 아래와 같은 칼럼의 숫자 데이터들이 포함되어있습니다.

* Avg. Session Length: 평균 in-store 스타일링 세션 시간
* Time on App: 앱에서 소비한 시간(분)
* Time on Website: 웹사이트에서 소비한 시간(분)
* Length of Membership: 회원가입 기간 (년)
* Yearly Amount Spent : 회원의 연간 매출 (달러)

**EcommerceCustomers.csv 파일을 읽고 df 라는 이름의 DataFrame 을 만들고 첫 5개 샘플을 확인합니다.**

In [2]:
# CODE HERE
df = pd.read_csv('./data/EcommerceCustomers.csv')
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

**info() 메소드를 호출하여 데이터의 간략한 정보를 확인합니다.**

In [3]:
# CODE HERE

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

## Data Split

**DataFrame에서 데이터타입이 float인 데이터 컬럼들만 셀렉트해서 변수 X 에 저장하고, 'Yearly Amount Spent' 컬럼은 변수 y 에 저장하세요**  
**데이터가 의도한 대로 분할 되었는지 X를 호출하여 데이터를 확인합니다.**

In [18]:
# CODE HERE

# X = df[['Avg. Session Length','Time on App','Time on Website','Length of Membership']]
# y = df['Yearly Amount Spent']

X = df.select_dtypes(float)
X
y = X.pop('Yearly Amount Spent')

In [14]:
df[[col_nm for col_nm in df.columns if (df[col_nm].dtype == float) & (col_nm != 'Yearly Amount Spent')]]

     Avg. Session Length  Time on App  Time on Website  Length of Membership
0              34.497268    12.655651        39.577668              4.082621
1              31.926272    11.109461        37.268959              2.664034
2              33.000915    11.330278        37.110597              4.104543
3              34.305557    13.717514        36.721283              3.120179
4              33.330673    12.795189        37.536653              4.446308
..                   ...          ...              ...                   ...
495            33.237660    13.566160        36.417985              3.746573
496            34.702529    11.695736        37.190268              3.576526
497            32.646777    11.499409        38.332576              4.958264
498            33.322501    12.391423        36.840086              2.336485
499            33.715981    12.418808        35.771016              2.735160

[500 rows x 4 columns]

In [13]:
for col_nm in df.columns:
    if df[col_nm].dtype == float:
        print(col_nm)

Avg. Session Length
Time on App
Time on Website
Length of Membership
Yearly Amount Spent

**sklearn 의 model_selection.train_test_split 함수를 호출해서 training 데이터와 testing 데이터로 7:3 으로분리하세요.**  
**random_state=42 파라메터를 추가하여 각 데이터셋에 분할되는 데이터를 고정시키겠습니다.**  
**데이터 분할 후 각 데이터셋의 shape을 X_train, X_test, y_train, y_test순으로 확인합니다.**

In [ ]:
# CODE HERE
# 데이터셋 분리


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42,test_size=0.3)
X_train.shape, X_test.shape,  y_train.shape, y_test.shape
## 데이터를 셔플 후 쪼개서 변수가 입력된다 (원래 쪼갤때 셔플이 됨)

## Training the Model

**sklearn.linear_model 의 LinearRegression 을 import**

In [ ]:
# CODE HERE

from sklearn.linear_model import LinearRegression

In [ ]:
# 실행 출력 결과 없음

**LinearRegression() 인스턴스를 생성해서 model 에 저장**

In [ ]:
# CODE HERE
lr = LinearRegression()

In [ ]:
# 실행 출력 결과 없음

**training 데이터에 대해 모델 학습**

In [ ]:
# CODE HERE
lr.fit(X_train, y_train)

**학습된 모델의 coefficients 출력**

In [ ]:
# CODE HERE

lr.coef_

## Predicting Test Data

**model.predict() 메소드를 호출하여 X_test 데이터에 대한 모델의 예측값을 확인합니다.**

In [ ]:
# CODE HERE
lr_pred = lr.predict(X_test)
lr_pred

**실제 정답값(y_test)과 예측값의 관계를 확인하고자 X축에 예측값, y축에 정답값을 전달하여 scatterplot 으로 시각화 하세요.**

In [ ]:
print(X_train)

In [ ]:
# CODE HERE

# 단순선형회귀모델의 여러가지 가정에 따른 모델링 시각화
plt.scatter(lr_pred, y_test, s=20) # matplotlib 산점도 그래프
# X_train, X_test, y_train, y_test

## Evaluating the Model
**sklearn 의 metircs중 예측모델 평가지표 출력을 위한 메소드를 import 한 후 R2 score, RMSE를 계산하세요.**

In [ ]:
# CODE HERE
from sklearn.metrics import r2_score, mean_squared_error
print(r2_score(y_test, lr_pred))   # 정답에 해당하는 y_test 먼저
print(mean_squared_error(y_test, lr_pred, squared=False))

## Conclusion

처음 문제로 돌아와서 모바일앱 또는 웹사이트 중 어떤 채널에 집중하여 투자할지를 결정해야 합니다. 어쩌면 그보다 더 중요한 채널이 있을 수도 있습니다.  
coefficient 를 살펴보면서 생각해봅시다.  
**아래와 같이 coeffecient 에 대한 DataFrame 을 만드세요.**

In [ ]:
# CODE HERE
# df = pd.DataFrame(X.coef_, columns=['Coeffecient'])
X.coef_
# df

**이러한 계수를 어떻게 해석할 수 있습니까?**

**이 회사가 모바일앱 또는 웹사이트 운영에 집중투자해야한다고 생각하세요? 추가적으로 취해야 할 비즈니스 액션은 무엇인가요?**

In [ ]:
뉴욕에 있는 이커머스회사
온라인에서 "옷" 판매
오프라인 스토어에서 스타일링,옷 조언 세션 열기도 함
고객들은 스토어에 방문 = 오프라인  세션을 하고
집에서 모바일 or 웹에서 옷을 주문함.

회사는 모바일 or 웹  
어디에 집중해야할지 데이터 기반으로 결정 하려고함

=> 키 포인트는 모바일과 웹 중
어디에 집중해야할지를 보려고 하는 것임.

세션에 머문시간 Vs  APP & WEB 의 타임  


## Get the Data

회사에서 제공한 CSV 파일에는 이메일, 주소, 아바타 색깔(Avatar) 등의 고객정보와 함께 아래와 같은 칼럼의 숫자 데이터들이 포함되어있습니다.

* Avg. Session Length: 평균 in-store 스타일링 세션 시간
* Time on App: 앱에서 소비한 시간(분)
* Time on Website: 웹사이트에서 소비한 시간(분)
* Length of Membership: 회원가입 기간 (년)
* Yearly Amount Spent : 회원의 연간 매출 (달러)