In [1]:
from datetime import datetime
import pandas as pd

# Given data in the image
data = {
    "time": [
        "2023-11-09 10:00",
        "2023-11-09 10:00",
        "2023-11-09 10:00",
        "2023-11-09 10:00",
        "2023-11-09 10:00",
        "2023-11-09 10:00",
        "2023-11-09 23:59",
        "2023-11-10 0:00"
    ],
    "title": ["A1", "A1", "A1", "A1", "A1", "A1", "A2", "A2"]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Convert the time column to datetime
df['time'] = pd.to_datetime(df['time'])

# Group by the title and find the earliest time for each
earliest_times = df.groupby('title')['time'].min().reset_index()

earliest_times

  title                time
0    A1 2023-11-09 10:00:00
1    A2 2023-11-09 23:59:00

In [12]:
my_dict = {"사과":"apple","바나나":"banana", "당근":"carrot", "체리":"cherry","인캘리포니아":"apple","파인":"apple","버내너":"banana"}
num = 0
data = []
for i in my_dict.values():
    if i == "apple":
        result = list(my_dict)[num]
        data.append(num)
    num = num+1
for i in data:
    i = list(my_dict)[i]
    t = my_dict[f"{i}"]
    print(t+' '+i)

apple 사과
apple 인캘리포니아
apple 파인

In [1]:
# 문자열을 정의합니다.
text = "안녕하세요"

# len() 함수를 사용하여 글자 수를 알아냅니다.
length = len(text)

# 글자 수를 출력합니다.
print(f"'{text}'의 글자 수는 {length}개 입니다.")

'안녕하세요'의 글자 수는 5개 입니다.

In [8]:
num = input(333)
len(num)

0

In [3]:
print(5 / 3)

1.6666666666666667

In [14]:
print(8 % 6)

2