In [13]:
import pandas as pd
df = pd.read_excel('./lotto.xlsx')
df = df[[1,2,3,4,5,6]]
df.head()

df_melted = df.melt(value_name='Value')
print(df_melted['Value'])

value_counts = df_melted['Value'].value_counts()
print(value_counts)
value_counts.to_excel('./lotto2.xlsx')

    1   2   3   4   5   6
0  12  19  21  29  40  45
1   4  18  31  37  42  43
2  11  21  22  30  39  44
3  13  14  18  21  34  44
4  11  16  25  27  35  36