In [1]:
import pandas as pd

### ### best_movies_on_netflix.xlsx 파일을 Rank 컬럼을 인덱스로 컬럼은 A:F까지 데이터프레임으로 가져오기

In [4]:
df = pd.read_excel('best_movies_on_netflix.xlsx',index_col='Rank',usecols='A:F')

In [5]:
df

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs..."
97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ..."
98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio..."
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."

### loc
##### 1. 행으로 접근
##### 2. 열로 접근

##### 인덱스 5로 행에 접근

In [9]:
df.loc[5]

Movie Title                      Monty Python and the Holy Grail
Year                                                        1975
Score                                                         98
Director                                           Terry Gilliam
Cast           Graham Chapman, John Cleese, Terry Gilliam, Er...
Name: 5, dtype: object

##### 인덱스 5와 인덱스 10으로 행에 접근

In [13]:
df.loc [[5, 10]]

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
10,Dolemite Is My Name,2019,97,Craig Brewer,"Eddie Murphy, Wesley Snipes, Kodi Smit-McPhee,..."

##### 인덱스 5로 행에 접근 후 컬럼 'Year'로 열에 접근

In [14]:
df.loc[5, 'Year']

1975

##### 인덱스 5, 10으로 행에 접근 후 컬럼 'Year'로 열에 접근

In [15]:
df.loc [[5, 10], 'Year' ]

Rank
5     1975
10    2019
Name: Year, dtype: int64

##### 인덱스 5, 10으로 행에 접근 후 컬럼 'Movie Title', 'Year', 'Director'로 열에 접근

In [20]:
df.loc [[5, 10], ['Movie Title', 'Year', 'Director']]

                          Movie Title  Year       Director
Rank
5     Monty Python and the Holy Grail  1975  Terry Gilliam
10                Dolemite Is My Name  2019   Craig Brewer

### 인덱스 5부터 10 까지 행을, 컬럼 'Movie Title'부터 'Year' 까지 열을

In [28]:
df.loc [5:10, 'Movie Title' :'Year']

                          Movie Title  Year
Rank
5     Monty Python and the Holy Grail  1975
6            Ma Rainey's Black Bottom  2020
7                     The Hurt Locker  2008
8                  Hell or High Water  2016
9           Won't You Be My Neighbor?  2018
10                Dolemite Is My Name  2019