In [1]:
import pandas as pd

##### best_movies_on_netflix.xlsx 파일을 Rank 컬럼을 인덱스로 컬럼은 A:F까지 Year와 Score의 데이터 타입은 int형으로 데이터프레임으로 가져오기

In [86]:
df = pd.read_excel('best_movies_on_netflix.xlsx',index_col='Rank', usecols='A:F', 
                   dtype={'Year' : int, 'Score' : int})

In [87]:
df.head(5)

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."

## 정렬

### 개봉연도 오름차순

In [9]:
df.sort_values('Year')

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
32,The Sea Beast,2022,94,Chris Williams,"Karl Urban, Zaris-Angel Hator, Jared Harris, D..."
40,Hustle,2022,93,Jeremiah Zagar,"Adam Sandler, Juancho Hernangomez, Queen Latif..."
87,All Quiet on the Western Front,2022,90,Edward Berger,"Felix Kammerer, Albrecht Schuch, Aaron Hilmer,..."
68,Apollo 10 1/2: A Space Age Childhood,2022,91,Richard Linklater,"Jack Black, Bill Wise, Lee Eddy, Milo Coy"
52,Roald Dahl's Matilda the Musical,2022,92,Matthew Warchus,"Alisha Weir, Emma Thompson, Lashana Lynch, Ste..."
...,...,...,...,...,...
74,National Lampoon's Animal House,1978,91,John Landis,"John Belushi, Kevin Bacon, Donald Sutherland, ..."
53,Rocky,1976,92,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burgess Mered..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
35,The Birds,1963,94,Alfred Hitchcock,"Rod Taylor, Tippi Hedren, Suzanne Pleshette, J..."
17,Psycho,1960,96,Alfred Hitchcock,"Anthony Perkins, Janet Leigh, Vera Miles, John..."

### 개봉 연도 내림차순

In [ ]:
df.sort_values('Year', ascending=False)

### 정렬을 일단 Year로 한 후 같은 Year에 한해 Score로 정렬

In [12]:
df.sort_values(['Year', 'Score'])

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
17,Psycho,1960,96,Alfred Hitchcock,"Anthony Perkins, Janet Leigh, Vera Miles, John..."
35,The Birds,1963,94,Alfred Hitchcock,"Rod Taylor, Tippi Hedren, Suzanne Pleshette, J..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
53,Rocky,1976,92,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burgess Mered..."
74,National Lampoon's Animal House,1978,91,John Landis,"John Belushi, Kevin Bacon, Donald Sutherland, ..."
...,...,...,...,...,...
44,Glass Onion: A Knives Out Mystery,2022,92,Rian Johnson,"Daniel Craig, Ed Norton, Dave Bautista, Kate H..."
52,Roald Dahl's Matilda the Musical,2022,92,Matthew Warchus,"Alisha Weir, Emma Thompson, Lashana Lynch, Ste..."
40,Hustle,2022,93,Jeremiah Zagar,"Adam Sandler, Juancho Hernangomez, Queen Latif..."
32,The Sea Beast,2022,94,Chris Williams,"Karl Urban, Zaris-Angel Hator, Jared Harris, D..."
34,Enola Holmes 2,2022,94,Harry Bradbeer,"Millie Bobby Brown, Henry Cavill, Helena Bonha..."

### 정렬을 일단 Score로 한 후 같은 Score에 한해 Year로 정렬

In [14]:
df.sort_values(['Score', 'Year'],ascending=False)

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
92,Rango,2011,88,Gore Verbinski,"Johnny Depp, Isla Fisher, Abigail Breslin, Ned..."
97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ..."
98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."

## 행 추가

### 첫번째 방법 - loc을 이용

In [18]:
df.loc[df.index[-1]+1] = ["John Wick 5", 2024, 95, 'Chad Starhelski', 'Keanu Charlis Reeves, Laurence John']

In [20]:
df.tail(2)

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
101,John Wick 5,2024,95,Chad Starhelski,"Keanu Charlis Reeves, Laurence John"

### 두번째 방법 - pd.concat 이용

In [21]:
row = {
    'Movie Title' : 'John Wick 5',
    'Year' : 2024,
    'Score' : 95,
    'Director' : 'Chad Stahelski',
    'Cast' : 'Keanu Charles Reeves, Laurence John Fishburne'
}

##### 데이터를 이용해서 인덱스를 101로 데이터프레임을 만든다

In [41]:
df2 = pd.DataFrame(row, index=[102])

In [42]:
df2

,Movie Title,Year,Score,Director,Cast
102,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"

##### df와 df2를 concat해서 df로 만든다

In [45]:
df = pd.concat([df, df2])

In [46]:
df

,Movie Title,Year,Score,Director,Cast
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
101,John Wick 5,2024,95,Chad Starhelski,"Keanu Charlis Reeves, Laurence John"
101,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"
102,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"

### 잘못된 데이터가 들어왔을때 대처법 
##### 제목만 가지고 나머지는 np.NaN을 가진 행을 추가

In [47]:
df.dtypes

Movie Title    object
Year            int64
Score           int64
Director       object
Cast           object
dtype: object

In [48]:
df.tail(2)

,Movie Title,Year,Score,Director,Cast
101,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"
102,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"

In [38]:
import numpy as np

In [60]:
df.loc[103] = ['John Wick 6', np.Nan, np.NaN, np.Nan]

AttributeError: module 'numpy' has no attribute 'Nan'

##### 먼저 문제는 Year와 Score의 데이터 타입이 float로 변경됨

### 첫번째 방법 : 잘못된 데이터를 삭제

##### dropna() 사용법 1 : NaN을 하나라도 가진 행 삭제

In [49]:
df.dropna()

,Movie Title,Year,Score,Director,Cast
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
101,John Wick 5,2024,95,Chad Starhelski,"Keanu Charlis Reeves, Laurence John"
101,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"
102,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"

#### dropna() 사용법 2 : 컬럼 기준으로 NaN를 하나라도 가진 열 삭제

In [50]:
df.dropna(axis=1)

,Movie Title,Year,Score,Director,Cast
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
101,John Wick 5,2024,95,Chad Starhelski,"Keanu Charlis Reeves, Laurence John"
101,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"
102,John Wick 5,2024,95,Chad Stahelski,"Keanu Charles Reeves, Laurence John Fishburne"


### how : {'any', 'all'}, default 'any'
####        Determine if row or column is removed from DataFrame, when we have
####        at least one NA or all NA.
    
####        * 'any' : If any NA values are present, drop that row or column.
####        * 'all' : If all values are NA, drop that row or column.

##### how가 all이면 행의 모든 데이터가 NA일 때만 행 삭제

### 두번째 방법 : 잘못된 데이터를 수정

일단 먼저 숫자형이든 문자열이든 상관 없이 모두 같은 값으로 채우기 : 이건 아닌 듯...

##### 숫자형 데이터를 채우는 두 가지 방법

##### 숫자형 데이터를 채우는 첫번째 방법 - 기본 값으로 채우기
###### Year는 1900, Score는 0
#### 문자열은 빈 문자열로 채운다

In [51]:
values = {
    'Year' : 1900,
    'Score' : 0,
    'Director' : "",
    'cast' : ""
}

In [53]:
df.fillna

<bound method DataFrame.fillna of                          Movie Title  Year  Score             Director  \
1                          His House  2020    100          Remi Weekes
2           How to Train Your Dragon  2010     99  Christopher Sanders
3         The Forty-Year-Old Version  2020     99          Radha Blank
4                   Under the Shadow  2016     99         Babak Anvari
5    Monty Python and the Holy Grail  1975     98        Terry Gilliam
..                               ...   ...    ...                  ...
99                   American Beauty  1999     87           Sam Mendes
100                    Kung Fu Panda  2008     87       John Stevenson
101                      John Wick 5  2024     95      Chad Starhelski
101                      John Wick 5  2024     95       Chad Stahelski
102                      John Wick 5  2024     95       Chad Stahelski

                                                  Cast
1    Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell...
2    Jay Baruchel, Gerard Butler, America Ferrera, ...
3    Welker White, Reed Birney, Radha Blank, Peter Kim
4    Narges Rashidi, Avin Manshadi, Bobby Naderi, R...
5    Graham Chapman, John Cleese, Terry Gilliam, Er...
..                                                 ...
99   Kevin Spacey, Annette Bening, Thora Birch, Wes...
100  Jack Black, Angelina Jolie, Jackie Chan, David...
101                Keanu Charlis Reeves, Laurence John
101      Keanu Charles Reeves, Laurence John Fishburne
102      Keanu Charles Reeves, Laurence John Fishburne

[103 rows x 5 columns]>

##### 숫자형 데이터를 채우는 두번째 방법 - 중간값으로 채우기
#### 문자열은 빈 문자열로 채운다

In [55]:
values = {
    'Year' : int(df['Year'].median()),
    'Score' : int(df['Score'].median()),
    'Director' : "",
    'cast' : ""
}

In [56]:
values

{'Year': 2017, 'Score': 92, 'Director': '', 'cast': ''}

### dropna 매개변수 subset

##### 102 행에 Year와 Director 추가

### Year가 NaN이면 삭제

In [83]:
df

     Movie Title  Year  Score Director Cast
103  John Wick 5  2024     95      NaN

### Score가 NaN이면 삭제

In [74]:
row = {
    'Movie Title' : 'John Wick 5',
    'Year' : 2024,
    'Score' : 95,
    'Director' : 'NaN',
    'Cast' : ''
}

In [75]:

df = pd.DataFrame(row, index=[103])

In [76]:
df

     Movie Title  Year  Score Director Cast
103  John Wick 5  2024     95      NaN

### Year와 Score가 모두 NaN이면 삭제

In [80]:
df.dropna(subset=['Year','Score'], how='all')

     Movie Title  Year  Score Director Cast
103  John Wick 5  2024     95      NaN

### Year와 Score 둘 중 하나만 NaN이어도 삭제

In [81]:
df.dropna(subset=['Year','Score'], how='any')

     Movie Title  Year  Score Director Cast
103  John Wick 5  2024     95      NaN

In [82]:
df

     Movie Title  Year  Score Director Cast
103  John Wick 5  2024     95      NaN

In [90]:
df.loc[df.index[-1]+1] = ["John Wick 5", 2024, 'NaN', 'Chad Starhelski', 'Keanu Charlis Reeves, Laurence John']

### 데이터 프레임 컬럼 데이터 타입을 바꾸는 방법

In [91]:
df.tail(2)

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."
101,John Wick 5,2024,NaN,Chad Starhelski,"Keanu Charlis Reeves, Laurence John"

### Score에도 중간값 넣고 데이터 타입 변경