In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('best_movies_on_netflix.xlsx',index_col='Rank',usecols='A:F')

### ### best_movies_on_netflix.xlsx 파일을 Rank 컬럼을 인덱스로 컬럼은 A:F까지 데이터프레임으로 가져오기

### iloc : integer location

### 0번 row

In [3]:
df.iloc[0]

Movie Title                                            His House
Year                                                        2020
Score                                                        100
Director                                             Remi Weekes
Cast           Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell...
Name: 1, dtype: object

In [4]:
df

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."
...,...,...,...,...,...
96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs..."
97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ..."
98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio..."
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."

### 0번~4번 row

In [7]:
df.iloc[0:5]

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."
3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim"
4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R..."
5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er..."

### 0~4번 row, 0번 col

In [8]:
df.iloc[0:5, 0]

Rank
1                          His House
2           How to Train Your Dragon
3         The Forty-Year-Old Version
4                   Under the Shadow
5    Monty Python and the Holy Grail
Name: Movie Title, dtype: object

### 0 ~ 4번 row, 0 ~ 2번 col

In [10]:
df.iloc[0:5, 0:3]

                          Movie Title  Year  Score
Rank
1                           His House  2020    100
2            How to Train Your Dragon  2010     99
3          The Forty-Year-Old Version  2020     99
4                    Under the Shadow  2016     99
5     Monty Python and the Holy Grail  1975     98

### 0번과 5번 row, 0번과 3번 col

In [15]:
df.iloc[[0,5], [0,3]]

                   Movie Title         Director
Rank
1                    His House      Remi Weekes
6     Ma Rainey's Black Bottom  George C. Wolfe