In [1]:
import pandas as pd

In [2]:
data = {
    'Movie Title' : ['His House', 'How to Train Your Dragon', 'The Forty-Year-Old Version', 
                     'Under the Shadow', 'Monty Python and the Holy Grail'],
    'Year' : [2020, 2010, 2020, 2016, 1975],
    'Score' : [100, 98, 95, 89, 86],
    'Director' : ['Remi Weekes', 'Christopher Sanders', 'Radha Blank', 'Babak Anvari', 'Terry Gilliam'],
    'Cast' : ['Wunmi Mosaku, Sope Dirisu', 'Jay Baruchel, Gerard Butler', 'Welker White, Reed Birney', 
              'Narges Rashidi, Avin Manshadi', 'Graham Chapman, John Cleese']
}

In [3]:
df = pd.DataFrame(data, index=['1위', '2위', '3위', '4위', '5위'])

In [4]:
df.head(2)

,Movie Title,Year,Score,Director,Cast
1위,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
2위,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"

### 인덱스 가져오기

In [5]:
df.index

Index(['1위', '2위', '3위', '4위', '5위'], dtype='object')

### 인덱스 이름 지정

In [6]:
df.index.name = 'Rank'

### 인덱스 리셋 - 기존 인덱스는 컬럼으로 유지

In [7]:
df.reset_index()

,Rank,Movie Title,Year,Score,Director,Cast
0,1위,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
1,2위,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
2,3위,The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
3,4위,Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
4,5위,Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"

### 인덱스를 리셋하면서 현재 인덱스는 없앤다

In [8]:
df.reset_index(drop=True)

,Movie Title,Year,Score,Director,Cast
0,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
1,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
2,The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
3,Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
4,Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"

### 지금까지의 연산은 현재 데이터프레임에는 영향을 미치지 않는다

### 연산을 바로 데이터프레임에 적용하기

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df

,Movie Title,Year,Score,Director,Cast
0,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
1,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
2,The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
3,Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
4,Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"

### 특정 컬럼을 인덱스로 만들기

In [12]:
df.set_index('Movie Title', inplace=True)

In [13]:
df.head(2)

,Year,Score,Director,Cast
Movie Title,,,,
His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"

In [14]:
df.index

Index(['His House', 'How to Train Your Dragon', 'The Forty-Year-Old Version',
       'Under the Shadow', 'Monty Python and the Holy Grail'],
      dtype='object', name='Movie Title')

### 인덱스 정렬 - 오름차순

In [17]:
df.sort_index()

,Year,Score,Director,Cast
Movie Title,,,,
His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"
The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"

### 인덱스 정렬 - 내림차순

In [19]:
df.sort_index(ascending=False)

,Year,Score,Director,Cast
Movie Title,,,,
Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"
How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"

### 컬럼 이름 변경하기

In [21]:
df.rename(columns={'Year': 'Release', 'Cast' : 'Actor'}, inplace=True)

In [22]:
df.columns

Index(['Release', 'Score', 'Director', 'Actor'], dtype='object')

In [23]:
df.head(3)

,Release,Score,Director,Actor
Movie Title,,,,
His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"

### 인덱스 이름 변경

In [27]:
df.rename(index={'His House' : 'My House'}, inplace=True)

### 인덱스를 다시 1위~5위로 바꾸기

In [28]:
df.reset_index(inplace=True)
df.index=['1위','2위','3위','4위','5위']