In [1]:
import pandas as pd

### 엑셀 파일 열기

In [6]:
df = pd.read_excel('best_movies_on_netflix.xlsx', index_col='Rank', usecols='A:F')

In [8]:
df.dtypes

Movie Title    object
Year            int64
Score           int64
Director       object
Cast           object
dtype: object

In [9]:
pd.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'list[str] | None' = None, index_col: 'int | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, squeeze: 'bool | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, convert_float: 'bool | None' = None, mangle_dupe_cols: 'bool' = True, storage_options: 'StorageOptions' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

##### best_movies_on_netflix.xlsx 파일을 Rank 컬럼을 인덱스로 컬럼은 A:F까지 Year와 Score의 데이터 타입은 int형으로 데이터프레임으로 가져오기

### 데이터 프레임 전체 모양 살펴보기

##### 숫자형 데이터에 대한 다양한 통계 정보

In [10]:
df.describe()

              Year       Score
count   100.000000  100.000000
mean   2011.540000   92.520000
std      12.971157    3.063239
min    1960.000000   87.000000
25%    2009.750000   90.000000
50%    2017.000000   92.000000
75%    2019.000000   95.000000
max    2022.000000  100.000000

##### 각 컬럼에 대한 요약 정보

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie Title  100 non-null    object
 1   Year         100 non-null    int64
 2   Score        100 non-null    int64
 3   Director     100 non-null    object
 4   Cast         100 non-null    object
dtypes: int64(2), object(3)
memory usage: 4.7+ KB

##### 데이터프레임의 처음 데이터

In [12]:
df.head(2)

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell..."
2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ..."

##### 데이터프레임의 마지막 데이터

In [13]:
df.tail()

,Movie Title,Year,Score,Director,Cast
Rank,,,,,
96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs..."
97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ..."
98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio..."
99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David..."

##### 데이터프레임의 행 정보를 담고 있는 인덱스

In [14]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='Rank')

##### 데이터프레임의 컬럼 정보

In [15]:
df.columns

Index(['Movie Title', 'Year', 'Score', 'Director', 'Cast'], dtype='object')

##### 데이터프레임의 특정 컬럼

In [16]:
df.shape

(100, 5)

In [17]:
df['Score']

Rank
1      100
2       99
3       99
4       99
5       98
      ...
96      88
97      88
98      87
99      87
100     87
Name: Score, Length: 100, dtype: int64

##### 데이터프레임의 컬럼을 추출하면 시리즈 객체가 나옴

##### 특정 컬럼에 대한 통계 정보

In [20]:
df['Score'].describe()

count    100.000000
mean      92.520000
std        3.063239
min       87.000000
25%       90.000000
50%       92.000000
75%       95.000000
max      100.000000
Name: Score, dtype: float64

##### 컬럼의 평균

In [21]:
df['Score'].mean()

92.52

##### 컬럼의 표준 편차

In [22]:
df['Score'].std()

3.063239191351918

##### 컬럼의 최대값

In [23]:
df['Score'].max()

100

##### 컬럼의 최솟값

In [24]:
df['Score'].min()

87

##### 컬럼에서 가장 큰 값 10개 추출

In [35]:
df['Year'].nlargest(10)

Rank
32    2022
34    2022
40    2022
44    2022
52    2022
68    2022
87    2022
93    2022
28    2021
31    2021
Name: Year, dtype: int64

##### 컬럼에서 가장 큰 값 3개의 인덱스

##### 컬럼의 유니크 값 리스트

In [37]:
df['Year'].unique()

array([2020, 2010, 2016, 1975, 2008, 2018, 2019, 2017, 1960, 1979, 2014,
       2002, 1998, 2021, 2015, 2011, 2022, 1963, 2013, 2004, 2003, 2012,
       2007, 1976, 1989, 2001, 1987, 1978, 2009, 1992, 1995, 1997, 1999],
      dtype=int64)

In [38]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='Rank')

In [39]:
df.columns

Index(['Movie Title', 'Year', 'Score', 'Director', 'Cast'], dtype='object')