In [1]:
import pandas as pd

In [2]:
data = {
    'Movie Title' : ['His House', 'How to Train Your Dragon', 'The Forty-Year-Old Version', 
                     'Under the Shadow', 'Monty Python and the Holy Grail'],
    'Year' : [2020, 2010, 2020, 2016, 1975],
    'Score' : [100, 98, 95, 89, 86],
    'Director' : ['Remi Weekes', 'Christopher Sanders', 'Radha Blank', 'Babak Anvari', 'Terry Gilliam'],
    'Cast' : ['Wunmi Mosaku, Sope Dirisu', 'Jay Baruchel, Gerard Butler', 'Welker White, Reed Birney', 
              'Narges Rashidi, Avin Manshadi', 'Graham Chapman, John Cleese']
}

### 조건 없이 데이터만으로 데이터프레임 만들기

In [4]:
df = pd.DataFrame(data)

In [5]:
df

,Movie Title,Year,Score,Director,Cast
0,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
1,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
2,The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
3,Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
4,Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"

### 인덱스를 지정해서 데이터프레임 만들기

In [6]:
df = pd.DataFrame(data, index=['1위','2위','3위','4위','5위'])

In [8]:
df

,Movie Title,Year,Score,Director,Cast
1위,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu"
2위,How to Train Your Dragon,2010,98,Christopher Sanders,"Jay Baruchel, Gerard Butler"
3위,The Forty-Year-Old Version,2020,95,Radha Blank,"Welker White, Reed Birney"
4위,Under the Shadow,2016,89,Babak Anvari,"Narges Rashidi, Avin Manshadi"
5위,Monty Python and the Holy Grail,1975,86,Terry Gilliam,"Graham Chapman, John Cleese"

In [10]:
df = pd.DataFrame(data, columns = ['Movie Title', 'Score'])

In [11]:
df

                       Movie Title  Score
0                        His House    100
1         How to Train Your Dragon     98
2       The Forty-Year-Old Version     95
3                 Under the Shadow     89
4  Monty Python and the Holy Grail     86

### 데이터에서 특정 컬럼만 가지고 데이터프레임 만들기